{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block header %}
<h1>Index Page</h1>
{% endblock %}

{% block main %}
    <section class="container">
        <h2>Flans</h2>
        <div class="row">
            {% for f in flans %}
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card" style="width: 18rem;">
                    <img src="{{ f.image_url }}" class="card-img-top" alt="{{ f.name }}">
                    <div class="card-body">
                    <h5 class="card-title">{{ f.name }}</h5>
                    <p class="card-text">{{ f.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}