{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block header %}
<h1>Index Page</h1>
{% endblock %}

{% block main %}
    <section class="container">
        <h2>Products</h2>
        <div>
            <table class="table text-center">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                    <tr>
                        <th scope="row">{{ p.id }}</th>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <div class="container">
        <form action="/welcome" method="GET">
            <div class="mb-3">
            <label for="clientName" class="form-label">Name</label>
            <input type="text" name="clientName" class="form-control" id="clientName" aria-describedby="clientNameHelp">
            <div id="clientNameHelp" class="form-text">Introduce your name.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}