{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block header %}
<h1>Index Page</h1>
{% endblock %}

{% block main %}
    <section>
        <h2>Products</h2>
        <div>
            <ul>
                {% for p in products %}
                    <li>
                        <i>{{ p.id }}</i> | <strong>{{ p.name }}</strong>: {{ p.price }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <div class="container">
        <form action="/welcome" method="GET">
            <div class="mb-3">
            <label for="clientName" class="form-label">Name</label>
            <input type="text" name="clientName" class="form-control" id="clientName" aria-describedby="clientNameHelp">
            <div id="clientNameHelp" class="form-text">Introduce your name.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}