{% extends "base.html" %}
{% block title %}Success{% endblock %}

{% block header %}
<h1>Success Page</h1>
{% endblock %}

{% block main %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <h2>Thank you for contacting OnlyFlans,</h2>
            <h2>we will respond to you shortly</h2>
            <a href="/">
                <button type="button" class="btn btn-primary">Go back to Home</button>
            </a>
        </div>
    </div>
{% endblock %}